---
import {get_device} from '@/libs/heat_state'
export interface Props {
    name: string;
}

const { name } = Astro.props as Props;

const device = get_device(name)
console.log(` => from heat_slider ${name} : temperature = ${device.ambient.temperature}`)

const temperature = device.ambient.temperature?device.ambient.temperature+"°":""
const humidity = device.ambient.humidity?device.ambient.humidity+"%":""

---
<div class="panel" data-name={name}>
    <object data={`/media/${name}.svg`} />
    <div class="humidity">{humidity}</div>
    <div class="slider">{temperature}</div>
    <div class="valve"></div>
    <div class="last"></div>
</div>

<style>

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:150px;
  max-width:20vw;
}

object{
  margin:5px;
  max-width:70px;
}

.humidity{
  background-color: aquamarine;
  width:150px;
  height:50px;
}

.slider{
  background-color:azure;
  height:50vh;
  width:150px;
}

.valve{
  background-color: brown;
  width:150px;
  height:60px;
}

.last{
  width:150px;
  height:30px;
}

div{
  color: black;
  padding:10px;
}
</style>

<script>
  function panel_set_state(name,device){
    const panel = document.querySelector(`.panel[data-name="${name}"]`)
    if(device.ambient.temperature){
      panel.querySelector(".slider").textContent = device.ambient.temperature+"°"
    }
    if(device.ambient.humidity){
      panel.querySelector(".humidity").textContent = device.ambient.humidity+"%"
    }
    //TODO set panel with state
  }


const panels_elements = document.querySelectorAll(".panel")
  const panels = [...panels_elements]
  for(let panel in panels){
    const element = panels[panel]
    const name = element.getAttribute("data-name")
    element.addEventListener("update",(event)=>{
      panel_set_state(name,event.detail)
    })
  }

</script>
