---
import {get_device} from '@/libs/heat_state'
import Svg from '@/components/svgicons.astro'
import CircularProgress from './circular_progress.astro';
export interface Props {
    name: string;
}

const { name } = Astro.props as Props;

const device = get_device(name)
console.log(` => from heat_slider ${name} : temperature = ${device.ambient.temperature}`)

const temperature = device.ambient.temperature?device.ambient.temperature+"°":""
const humidity = device.ambient.humidity?Math.round(device.ambient.humidity)+"%":""
const time = device.heater.last_seen_mn?device.heater.last_seen_mn:""
const valve_percent = device.heater.data.pi_heating_demand

---
<div class="panel" data-name={name}>
    <object data={`/media/${name}.svg`} />
    <div class="humidity">
      <Svg filename="drop" />
      <span class="humidity value">{humidity}</span>
    </div>
    <div class="slider">{temperature}</div>
    <div class="valve">
      <CircularProgress percent={valve_percent}/>
    </div>
    <div class="signal">
      <Svg filename="signal" />
      <span class="signal value">{time}</span>
    </div>
</div>

<style>

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:150px;
  max-width:20vw;
}

object{
  margin:5px;
  max-width:70px;
}

.humidity{
  width:150px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.humidity.value{
  width: 64px;
  font-size:1.5em;
  color:rgb(178, 220, 249);
}
.humidity.drop{
}

.slider{
  background-color:azure;
  height:50vh;
  width:150px;
}

.valve{
  width:150px;
  height:60px;
  display:flex;
  justify-content: center;
}

.signal{
  width:150px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signal.value{
  width: 48px;
  margin-left:10px;
  padding-top: 3px;
  color: rgb(208, 205, 165);
}

div{
  color: black;
  padding:10px;
}

</style>

<style is:inline>
.valve > svg{
  width:48px;
}
</style>

<script>
	import {event} from "../libs/client_utils"
  function panel_set_state(name,device){
    const panel = document.querySelector(`.panel[data-name="${name}"]`)
    if(device.ambient.temperature){
      panel.querySelector(".slider").textContent = device.ambient.temperature+"°"
    }
    if(device.ambient.humidity){
      panel.querySelector(".humidity.value").textContent = Math.round(device.ambient.humidity)+"%"
    }
    if(device.heater){
      panel.querySelector(".signal.value").textContent = device.heater.last_seen_mn
      const valve = panel.querySelector(".valve.range")
      event(valve,'range',device.heater.data.pi_heating_demand)
    }
    //TODO set panel with state
  }


const panels_elements = document.querySelectorAll(".panel")
  const panels = [...panels_elements]
  for(let panel in panels){
    const element = panels[panel]
    const name = element.getAttribute("data-name")
    element.addEventListener("update",(event)=>{
      panel_set_state(name,event.detail)
    })
  }

</script>
