---
import { room_to_coord,metal_to_coord,target_to_coord } from './slider_info';
export interface Props {
    cursor: number;
    target: number;
    room: number;
    metal:number;
}

const { cursor, target, room, metal } = Astro.props as Props;

const config = {
    height: 400,
    top_limit_height: 100,
    bottom_limit_height:50,
    min_room_temp: 5,
    max_room_temp: 27,
    max_metal_temp: 55
}

const room_min_temp_y = config.height - config.bottom_limit_height

const room_coord = room_to_coord(room,config)
const metal_coord = metal_to_coord(metal,config)

const target_coord = target_to_coord(target,config)

---
<div class="slidecontainer">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 150 400" >
         <rect id="metal"           x="35" y={metal_coord.y}  width="80" height={metal_coord.h} fill="#EEBEBE"/>
         <rect id="room"            x="0"  y={room_coord.y}   rx="5" ry="5" width="150" height={room_coord.h} fill="#BADCAE"/>
         <rect id="top_target"      x="65" y="0"        width="20" height={config.top_limit_height} fill="#8F8F8F"/>
         <rect id="target"          x="65" y={target_coord.y}      width="20" height={target_coord.h} fill="#B54949"/>
         <rect id="bottom_target"   x="65" y={room_min_temp_y}      width="20" height={config.bottom_limit_height} fill="#8F8F8F"/>
        </svg>
    <input class="slider" orient="vertical" type="range" step="1" value={cursor} min="5" max="27">
    <span class="range-value"></span>
</div> 


<style>
.slidecontainer{
    position: relative;
}
svg {
    position: absolute;
}
.slider[type=range][orient=vertical]
{
    position: absolute;
    top:213px;
    left:-62px;
    -webkit-appearance: none;
    height: 20px;
    width:270px;
    background-color: #00000000;
    transform:rotate(-90deg)
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:  40px;
  height: 40px;
  border-radius: 50%;
  background: #B54949;
  cursor: pointer;
  box-shadow: -3px 0px 5px black;
}
</style>
