---
import {get_device} from '@/libs/power_state'
export interface Props {
    name: string;
}

const { name } = Astro.props as Props;

const {state,power} = get_device(name)
const disabled = (name == "pc")?state:false
---
<div class="card" data-name={name}>
    <img src={`/media/${name}-${state}.png`}>
    <h1>{name}</h1>
    <label class="switch">
        <input  class={`check_in ${(state == "ON")?"on":"off"}`} type="checkbox" checked={(state == "ON")} 
                disabled={disabled} data-name={name}
        >
        <span class="slider"></span>
    </label>
</div>


<style>
    /* https://www.w3schools.com/howto/howto_css_switch.asp */
h1{
    padding-left:10px;
}
img{
    max-height:12vh;
}

.switch {
  margin:10px;
  margin-top:0px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: transparent;
}

.switch input{
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(112, 112, 112);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input.on + .slider {
  background-color: #f3d542;
}

input:disabled.on + .slider{
  background-color: #f3ac42;
  cursor: not-allowed;
  opacity: 0.5;
}

.slider:hover::before{
  background-color: rgb(63, 63, 63);

}

</style>

<script>
	import {async_put} from "../libs/client_utils"
  console.log(" => switch_panel.astro script")

  function card_set_state(name,state){
    console.log(`card_set_state() ${name} to ${state}`)
    const card = document.querySelector(`.card[data-name="${name}"]`)
    const input = card.querySelector("input")
    if(state == "ON"){
      input.classList.add("on")
      input.classList.remove("off")
    }else{
      input.classList.add("off")
      input.classList.remove("on")
    }
    const img = card.querySelector("img")
    img.src = `/media/${name}-${state}.png`
  }


  function card_toggle_switch(name,state){
    console.log(`   * put() '${name}' at '${state}'`)
    
    async_put("/api/power",{name:name,state:state}).then((resp)=>{
      console.log(resp)
    });
  }

  const input_elements = document.querySelectorAll(".check_in")
    const inputs = [...input_elements]
    for(let input in inputs){
      const element = inputs[input]
      const name = element.getAttribute("data-name")
        console.log(` * init for '${name}'`)
        element.onchange = (e)=>{
          const device_name = e.target.getAttribute("data-name")
          const state = e.target.checked?"ON":"OFF"
          card_toggle_switch(device_name,state)
        }
    }

  const cards_elements = document.querySelectorAll(".card")
  const cards = [...cards_elements]
  for(let card in cards){
    const element = cards[card]
    const name = element.getAttribute("data-name")
    element.addEventListener("update",(event)=>{
      card_set_state(name,event.detail.state)
    })
  }

</script>
