---
export interface Props {
    name: string;
}

const { name } = Astro.props as Props;

const device_url = import.meta.env.SERVER+'/api/power/'+name
const init_state = await fetch(device_url).then((response) => response.json());

const state = (init_state.state.toLowerCase() == "on")?"on":"off"
const notifyInit = (init_state.state == "Init")?"offline":""

const disabled = (name == "pc")?state:false
---
<div class="container" >
    <img src={`/media/${name}-${state}.png`}>
    <h1>{name+' '+notifyInit}</h1>
    <label class="switch">
        <input  class="check_in" type="checkbox" checked={(state == "on")} 
                disabled={disabled} data-url={device_url}
        >
        <span class="slider"></span>
    </label>
</div>


<style>
    /* https://www.w3schools.com/howto/howto_css_switch.asp */
h1{
    padding-left:10px;
}
img{
    max-height:12vh;
}

.switch {
  margin:10px;
  margin-top:0px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: transparent;
}

.switch input{
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(112, 112, 112);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f3d542;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:disabled + .slider{
  background-color: #f3ac42;
  cursor: not-allowed;
  opacity: 0.5;
}

.slider:hover::before{
  background-color: rgb(63, 63, 63);

}

</style>

<script type="module">
  
  async function put(url, data) {
    const response = await fetch(url, {
      method: 'PUT',
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify(data)
    })

    return await response.json()
  }

  const input_elements = document.querySelectorAll(".check_in")
    const inputs = [...input_elements]
    for(let input in inputs){
        inputs[input].onchange = (e)=>{
          const device_url = e.target.getAttribute("data-url")
          const state = e.target.checked?"on":"off"
          put(device_url,{state}).then((resp)=>{
            e.target.checked = (resp.state.toLowerCase()=="on")?true:false
          });
        }
    }

</script>
